body{
background: linear-gradient(rgb(255, 255, 255),rgb(253, 254, 255));
background-size:cover;
padding-bottom: 10em !important;
overflow-x: hidden;
margin: 0;
padding: 0;

}

#words{
    position: absolute;
}

header{
    position: relative;
    left: 30px;
}


/* New Headers */
.newHeader1{
    background: linear-gradient(rgb(35, 19, 180),rgba(241, 99, 99, 0.788));
}
.newHeader2{
    background: linear-gradient(rgb(254, 255, 254),rgba(234, 240, 235, 0.788));
}
.newHeader3{
    background: linear-gradient(rgb(238, 63, 63),rgba(224, 49, 49, 0.788));
}
.newHeader4{
    background: black;
}
.newHeader5{
    background: linear-gradient(rgb(23, 143, 69),rgba(22, 141, 48, 0.788));
}
.newHeader6{
    background: linear-gradient(rgb(237, 239, 250),rgb(211, 212, 214));
}
#bringDown{
    position: relative;
    top: 6em;
}

 h2{
font-size: 2.7em;
position: relative;
text-align: center;
color: #FFF;
}
.textArea{
    text-align: center;
}
textarea{
    border: 1px solid #6297BC;
    font-size: 1.34em;
    }
textarea::placeholder{
    text-align: center;
}
.buttons #one{
position: relative;
left: 30em;
padding: 0.65em 1.2em;   
}
.buttons #two{
position: relative;
left:29em;
}
.buttons input{
    width: 35px;
}
.buttons button{
    display:inline-block;
    padding: 0.35em 1.2em;    
    margin: 0.85em 0.3em 0;
    border: 0.1em solid #FFFFFF;
    border-radius: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}
.buttons button:hover{
background-color:#4095c6;
}

.customize button{
    display:inline-block;
    padding: 1.15em 1.2em;    
    margin: 0.35em 0.3em 0;
    border: 0.1em solid #FFFFFF;
    border-radius: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: #FFFFFF;
    background-color: #ce8423;
    text-align: center;
    transition: all 0.2s;
    position: absolute;
    bottom: 0;
    right: 0;
position: fixed;

}
.customize button:hover{
background-color:#d36a15;
}

/* Alert Box */

.alert{
    padding: 20px;
    background-color:rgba(5, 1, 219, 0.801);
    color: white;
    width: 25%;
    position: relative;
    bottom: 18em;
    left: 34em;
}
.closebtn {
    margin-left:15px;
    color:white;
    font-weight:bold;
    float:right;
    font-size: 40px;
    cursor:pointer;
    transition: 0.3s;
    position: relative;
    bottom: 16px;
}
.closebtn:hover {
    color: black;
}
#message{
    font-size: 23px;
    color: #FFFFFF;
    font-weight: bold;
}

.customBar{
    border: 1px solid #FFFFFF;
    width:11%;
    position: fixed;
    right:0.2em;
    bottom:2.9em;
    border-radius: 24px;
    height: 13em;
    padding-left:-10px;
    background-color: #d36a15;
    display: none;
}
.customBar button{
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    padding: 1.15em 1.2em;    
   
    border: 0.1em solid #FFFFFF;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: #FFFFFF;
    background-color: #d36a15;
    text-align: center;
    transition: all 0.2s;
    width: 11%;
position: fixed;
}
.customBar button:hover{

    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    padding: 1.15em 1.2em;    
   
    border: 0.1em solid #FFFFFF;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: #FFFFFF;
    background-color: #4b2200;
    text-align: center;
    transition: all 0.2s;
    width: 11%;
position: fixed;


}
#first{
    
    top:45em;
}
#second{
 
    top: 53.7em;
}


.HeaderColor{
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    padding: 1.45em 1.2em;    
   
    border: 0.1em solid transparent;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: #FFFFFF;
    background-color: transparent;
    text-align: center;
    transition: all 0.2s;
    width: auto;
    height: 10px;
position: fixed;
left: 78.4em;
bottom: 17.0em;
display: none;
}

.HeaderColor button{
    font-size: 1.04em;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    padding: 1.15em 1.2em;
    font-weight: bolder;
    border: 0.1em solid #FFFFFF;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: rgb(22, 19, 19);
    background-color: #aeece2;
    text-align: center;
    transition: all 0.2s;
    width: auto;
    height: 10px;
    bottom: 13px;
    position: relative;
/* position: fixed; */

}

.backgroundColor{
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    padding: 1.15em 1.2em;    
   
    border: 0.1em solid transparent;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: #FFFFFF;
    background-color: transparent;
    text-align: center;
    transition: all 0.2s;
    width: auto;
    height: 10px;
position: fixed;
left: 78.4em;
bottom: 7.67em;
display: none;

}

.backgroundColor button{
    font-size: 1.04em;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    padding: 1.15em 1.2em;
    font-weight: bolder;
    border: 0.1em solid #FFFFFF;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: rgb(22, 19, 19);
    background-color: #aeece2;
    text-align: center;
    transition: all 0.2s;
    width: auto;
    height: 10px;
    bottom: 21px;
    position: relative;
/* position: fixed; */

}